body{
    font-family: roboto, sans-serif;
    height: 100vh;
    margin: 0;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header{
    background-color: #1f2937;
    height: 64px;
    display: flex;

    .header-container{
        color: #f9faf8;
        width: 72%;
        margin: 0 auto;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        
        .header-logo{
            font-size: 24px;
            font-weight: bold;
            margin-right: auto;
            flex: 0 0 auto;
        }
    
        .header-links{
            /* border: 1px solid red; */
            margin-left: auto;
            display: flex;
            gap: 24px;
            overflow: hidden;
        }
        .header-links a{
            color: #e5e7eb;
            font-size: 18px;
            text-decoration: none;
            flex: 0 0 auto;
        }
    }
    flex: 0 0 auto;
}

.content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .content-box{
        /* height: 350px; */
        box-sizing: border-box;
        padding: 100px 14%;
        /* padding-left: 14%;
        padding-right: 14%; */

        flex: 1 0 auto;
        border: 1px solid red;
    }

    .info{
        height: 400px;
    }
    
    .hero {
        min-height: 470px;
        border: 1px solid red;
        background-color: #1f2937;

        flex: 1 0 auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-between;

        .hero-box{
            width: 400px;
            height: 250px;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* justify-content: space-between; */
            color: #f9faf8;

            .hero-heading{
                margin: 0;
                font-size: 48px;
                font-weight: extra-bold;
            }

            .hero-paragraph{
                color: #e5e7eb;
                font-size: 18px;
                margin: 0;
            }

            .signup-button{
                padding: 8px 16px;
            }
        }

        .image-holder{
            flex: 1 1 auto;
            width: 450px;
            height: 250px;
            background-color: #ffffff5d;
            color: #f9faf8;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    /* .hero *{
        border: 1px solid red;
    } */
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    flex: 0 0 auto;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}